.thumbnailBox ul {
  display: flex;
  list-style: none;
  margin: none;
  padding: 2px;
}
.thumbnailBox {
  display: flex;
  overflow: hidden;
}
.thumbnailItem {
  width: 250px;
}

.thumbnailItem .thumbnailImage {
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  z-index: -1;
}

.icons {
  color:var(--white);
  cursor: pointer;
}
.scrollIcon {
  height: 170px;
  color:var(--white);
  font-size: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: absolute;
  right: 0px;
}
.leftScrollIcon {
  height: 170px;
  color:var(--white);
  font-size: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: absolute;
  left: 0px;
}
.leftScrollIcon:hover {
  background-color: rgb(0, 0, 0, 0.7);
}
.scrollIcon:hover {
  background-color: rgb(0, 0, 0, 0.7);
}
/* Enable widnow-scroll-bar */
.thumbnailBox::-webkit-scrollbar {
  background-color: transparent;
}

.descriptionIcons {
  display: flex;
  align-items: center;
  gap: 7px;
}
.descriptionBox {
  position: relative;
  z-index: 999;
  background-color: rgb(32, 32, 32);
  padding: 10px 20px;
  margin-top: -4px;
  box-shadow: 1px -20px 20px 0px #171616f2;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transform: scale(1.2);
}
.descTitle {
  color: #b7b4b4;
  font-size: 14px;
}
.descSubTitle {
  color: rgb(118, 118, 118);
  font-size: 10px;
}
.playIcon {
  font-size: 43px;
  cursor: pointer;
}
.icon {
  font-size: 20px;
  border: 1px solid var(--white);
  border-radius: 50%;
  cursor: pointer;
  padding: 5px;
}

/* description box visibility */
.thumbnailItem:hover {
  position: relative;
  z-index: 9999;
}

.thumbnailItem:hover .thumbnailImage {
  transform: scale(1.2);
  background-size: 100% 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.thumbnailItem .descriptionBox {
  display: none;
}
.thumbnailItem:hover .descriptionBox {
  display: block;
}

/* ThumbnailMediaPlayer-styling */
.bannerBox {
  height: 700px;
  width: 100%;
}
.shadowBox {
  position: absolute;
  inset: 0px;
  height: 800px;
  width: 100%;
  background: linear-gradient(0deg, black, #000000cc, transparent);
}
.bannerDescription {
  margin-top: 100px;
  width: 40%;
  position: absolute;
}
.bannerTitle {
  font-size: 44px;
  font-weight: 900;
}
.bannerSubTitle {
  width: 80%;
  font-size: 20px;
  font-weight: 500;
}
.bannerPlayIcon {
  background-color:var(--white);
  color:var(--black);
  text-transform:capitalize;
  padding:2px 18px;
  font-size:16px;
}
.infoIcon {
  background-color:rgb(95, 93, 93);
  color:var(--white);
  text-transform:capitalize;
  margin-left:10px;
  padding:4px 18px;
  font-size:16px;
}
.bannerPlayIcon:hover {
  background-color:white;
  color:var(--black);
}
.infoIcon:hover {
  background-color:var(--grey);
  color:var(--white);
}
.bannerCarousel {
  position: relative;
  top: 500px;
  right:0px;
}

/* Media-Queries */
@media (max-width: 1300px) {
  .thumbnailImage,
  .thumbnailItem {
    width: 200px !important;
  }

  .playIcon {
    font-size: 40px;
  }
  .icon {
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  .thumbnailImage,
  .thumbnailItem {
    width: 170px !important;
    height: 120px;
  }
  .thumbnailItem:hover {
    height: auto;
  }
  .playIcon {
    font-size: 30px;
  }
  .icon {
    font-size: 16px;
  }
  .descriptionBox {
    padding: 10px 12px;
    transform: scale(1.5, 1.2);
  }
  .thumbnailItem:hover .thumbnailImage {
    transform: scale(1.5, 1.2);
  }
}

@media (max-width: 800px) {
  .bannerDescription {
    width: 60%;
    margin-top: 80px;
  }
  .bannerTitle {
    font-size: 40px;
  }
  .bannerSubTitle {
    width: 80%;
    font-size: 18px;
    font-weight: 500;
  }
  .thumbnailImage,
  .thumbnailItem {
    width: 150px !important;
    height: 100px;
  }
  .thumbnailItem:hover {
    height: auto;
  }
  .playIcon {
    font-size: 26px;
  }
  .icon {
    font-size: 14px;
  }
  .descriptionBox {
    padding: 10px 12px;
    transform: scale(1.6, 1.2);
  }
  .thumbnailItem:hover .thumbnailImage {
    transform: scale(1.6, 1.2);
  }
}

@media (max-width: 700px) {
  .thumbnailImage,
  .thumbnailItem {
    width: 140px !important;
    height: 100px;
  }
  .thumbnailItem:hover {
    height: auto;
  }
  .playIcon {
    font-size: 25px;
  }
  .icon {
    font-size: 10px;
  }
  .descriptionBox {
    padding: 10px 14px;
    margin-top: -2px;
  }
}

@media (max-width: 600px) {
  .thumbnailImage,
  .thumbnailItem {
    width: 120px !important;
    height: 100px;
  }
  .thumbnailItem:hover {
    height: auto;
  }
  .playIcon {
    font-size: 22px;
  }
  .icon {
    font-size: 9px;
  }
  .descriptionBox {
    padding: 6px 9px;
    margin-top: -2px;
  }
}
@media (max-width: 500px) {
  .thumbnailImage,
  .thumbnailItem {
    width: 100px !important;
    height: 90px;
  }
  .thumbnailItem:hover {
    height: auto;
  }
  .thumbnailItem:hover .thumbnailImage {
    transform: scale(1.8, 1.2);
  }
}
@media (max-width: 400px) {
  .bannerBox {
    height: 700px;
  }
  .bannerDescription {
    width: 90%;
    margin-top: 50px;
  }
  .thumbnailImage,
  .thumbnailItem {
    width: 80px !important;
    height: 95px;
  }
  .thumbnailItem:hover {
    height: auto;
  }
  .descriptionBox {
    padding: 10px 12px;
    transform: scale(1.5, 1.2);
  }
  .thumbnailItem:hover .thumbnailImage {
    transform: scale(1.5, 1.2);
  }
}
