.itemWrapper {
  padding: 12px 24px;
  display: flex;
  gap: 20px;
  align-items: center;
  background-color: transparent;
  border: 0.5px solid var(--grey);
  border-radius: 5px;
  margin-bottom: 8px;
}
.itemWrapper:hover {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.479) 20%,
    #c11e2969,
    rgba(0, 0, 0, 0.479)
  );
  cursor: pointer;
  transition: background-color 3s ease;
}

.descTitle {
  font-size: 24px;
  font-weight: 700;
}
.descSubTitle {
  font-size: 17px;
  font-weight: 300;
  text-align: justify;
}
.itemImage {
  border-radius: 3px;
}

@media (max-width: 800px) {
  .descTitle {
    font-size: 20px;
  }
  .descSubTitle {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .itemWrapper {
    flex-direction: column;
  }
  .itemImage {
    width: 300px;
    height: 140px;
  }
  .itemWrapper:hover {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.479),
      #c11e2969
    );
  }
}
.description {
  width: 100%;
}
@media (max-width: 340px) {
  .itemWrapper {
    flex-direction: column;
  }
  .itemImage {
    width: 200px;
    height: 140px;
  }
}
@media (max-width: 250px) {
  .itemWrapper {
    flex-direction: column;
  }
  .itemImage {
    width: 130px;
    height: 100px;
  }
}
