.deviceBox {
  margin-top: -9px;
  color: var(--black);
  background-color: var(--white);
  height: 700px;
}
.widthClass {
  width: 400px;
  text-align: center;
}
.leftWidthClass {
  width: 400px;
  text-align: left;
}
.settingAccount {
  font-size: 30px;
  font-weight: 500;
}
.colorBlack{
  color:var(--black);
}
.netflixPersonalised {
  font-size: 18px;
  font-weight: 200;
}
.nextButton {
  border-radius: 4px;
  font-size: 24px;
  font-weight: 400;
  min-height: 64px;
  background-color: var(--red);
}
.nextButton:hover {
  background-color: var(--red);
}
.errorMessage {
  color: var(--red);
  font-size: 14px;
  margin-top: -8px;
  align-self: flex-start;
  align-items: center;
  cursor: text;
  text-transform: lowercase;
}
.signInErr {
  background-color: var(--dark-yellow);
  color: var(--black);
  border-radius: 6px;
  gap: 12px;
  display: flex;
  align-items: center;
}



/* Sign-out Styling */
.signOutBtn {
  background-color: var(--red);
  text-transform: capitalize;
  font-weight: 600;
  font-size: 15px;
  width:100px;
}
.signOutBtn:hover {
  background-color: var(--red);
}


@media (max-width: 460px) {
  .widthClass {
    width: 250px;
  }
  .leftWidthClass {
    width: 250px;
  }
}
