:root {
  --max-width: 1200px;
  --border-radius: 12px;
  --black: #000000;
  --white: white;
  --red: #e50815;
  --grey: grey;
  --yellow: #e87c03;
  --blue: #0071eb;
  --green: rgb(43, 184, 113);
  --dark-yellow: rgb(216, 157, 49);
}
button {
  box-shadow: none !important;
}
.loader {
  width: 8vmax;
  height: 8vmax;
  border-right: 4px solid var(--red);
  border-radius: 100%;
  animation: spinRight 800ms linear infinite;
  &:before,
  &:after {
    content: "";
    width: 6vmax;
    height: 6vmax;
    display: block;
    position: absolute;
    top: calc(50% - 3vmax);
    left: calc(50% - 3vmax);
    border-left: 3px solid var(--red);
    border-radius: 100%;
    animation: spinLeft 800ms linear infinite;
  }
  &:after {
    width: 4vmax;
    height: 4vmax;
    top: calc(50% - 2vmax);
    left: calc(50% - 2vmax);
    border: 0;
    border-right: 2px solid var(--red);
    animation: none;
  }
}
@keyframes spinLeft {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}

@keyframes spinRight {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.removeLinkStyle {
  text-decoration: none;
  cursor: pointer;
}
.removeLinkStyle:hover {
  text-decoration: underline;
}
.displayFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.displayFlexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0px auto;
  background-color: var(--black);
  color: var(--white);
}

.clearFix {
  padding: 4% 11%;
}

.title {
  font-size: 3.75rem;
  font-weight: 900;
  line-height: 1.2;
}
.subTitle {
  font-size: 1.5rem;
  font-weight: 100;
}

.heroImage {
  position: relative;
  width: 100%;
  height: 700px;
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/d7af077c-af5a-4055-8f9a-740a43588583/95bae10c-9773-4447-af4e-612a244231bd/IN-hi-20230717-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.heroImage:before {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  height: 700px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0,
    rgba(0, 0, 0, 0.4) 60%,
    rgba(0, 0, 0, 0.9) 100%
  );
  bottom: 0;
  left: 0;
}
.overlay {
  position: absolute;
  inset: 0px;
  margin: 0px auto;
}
.faq-accordion
  .css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
  border-bottom: 1px solid black;
  padding: 0px 15px;
}
.faq-accordion
  .css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded:hover {
  background-color: rgb(78, 78, 78);
}
.faq-accordion .css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root:hover {
  background-color: rgb(78, 78, 78);
}
.faq-accordion .css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root {
  padding: 12px;
}

/* Media-Queries */
@media (max-width: 950px) {
  .clearFix {
    padding: 5% 3%;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .title {
    font-size: 2.2rem;
    text-align: center;
  }
  .subTitle {
    font-size: 1.1rem;
  }
}

@media (max-width: 380px) {
  .title {
    font-size: 2.1rem;
  }
  .subTitle {
    font-size: 0.9;
  }
}
